.gestaoContent{
    background: var(--color-background);
    color: var(--color-title);
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    grid-area: content;
    overflow-y: scroll;  
    
}

.gestaoContent::-webkit-scrollbar {
    display: none;
  }

.gestaoContainer{
    display: grid;
    grid-template-columns: 6% 94%;
    grid-template-areas: "menu content";
    height:100vh;
}

.sideMenu{
    grid-area: menu;
    height: 100vh;
}

.classesAndPatrimonyContainer{
    margin:1rem 0 1rem 0;
    display: grid;
    grid-template-columns:30% 1% 69%;
    grid-template-areas: "classes margin patrimony";
    
}

.classesContainer{
    grid-area: classes;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    
}

.labelPercentageContainer{
    height:60%;
    display: flex;
    margin-bottom: 1rem;
    
}

.labelContainer{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    justify-content: space-around;
    margin-right: 8rem;
}

.percentageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.5em;
}

.percenttageContainer input{
    width: 50%;
    height: 120%;
    border-radius: 5px;
    border:none;
}
.percentage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:var(--color-links)
}


/* Patrimony Css */

.patrimonyContainer{
    grid-area: patrimony;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--color-title);
    padding-left: 5rem;
    font-family: 'Montserrat', sans-serif;

}

.patrimonyData p{
    color:var(--color-links);
    font-size: 1.5em;
    font-weight: bold;
}

#totalAvailable{
    display: flex;
    align-items: center;
    
    
}
#totalAvailable h2{
    padding-right: 25%;
}

#totalInvested{ 
    display: flex;
    align-items: center;

    
}
#totalInvested h2{
    padding-right: 28%;
}



h1{
    font-size: 2rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-weight: lighter;
}



/* Papers */

.papersContainer{
   height: 20%;
}
.papersContainer ul{
    display: flex;
    padding:0;
}

li{
    background-color: var(--background-list-item);
    list-style: none;
    margin-right: 2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;

}

li:hover{
    cursor: pointer;
    background-color:var(--color-links);
    color:var(--white-itens);
}

/* cards */

.papersDetailsContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

